<!DOCTYPE html>
<html lang="en">
<head>
  <title>Spam Email Classifier</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <h2>Spam Email Classifier</h2>
  <form id="emailForm">
      <label for="emailText"></label><textarea id="emailText" placeholder="Enter email text here"></textarea>
    <button type="submit">Classify Email</button>
    <label class="switch">
      <input type="checkbox" id="darkModeSwitch">
      <span class="slider round"></span>
    </label>
  </form>
  <p id="result"></p>
  <script src="popup.js"></script>
</body>
</html>